@import '../bootstrap-5.0.2-dist/css/bootstrap.min.css';
.hero-profile {
    border: 1px solid gray;
    padding: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: lightgreen;
    color: black;
}

.saveable {
    background-color: rgb(234, 153, 60);
    color: rgb(87, 207, 69);
}

.special {
    border: 1px solid gray;
    padding: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: lightgreen;
    color: rgb(227, 135, 135);
}

.modified {
    background-color: rgb(88, 92, 219);
    color: rgb(237, 63, 200);
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 220px;
    height: 220px;
}

.job-ad {
    border: 1px solid gray;
    padding: 5px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: lightblue;
    color: black;
}

.ad-banner {
    width: 400px;
}

.foo {
    color: blue;
    text-decoration-color: greenyellow;
}

.bar {
    background-color: aqua;
}