<app-item-output-parent></app-item-output-parent>
<!-- <p>----------------------------------</p>
<app-item-output-parent ></app-item-output-parent>
<p>----------------------------------</p>
    <app-item-detail [item]="currentItem"></app-item-detail> -->
<!-- <app-misson-control></app-misson-control> -->
<!-- <app-version-parent></app-version-parent>-->

<!-- <p>----------------------------------</p>
<app-name-parent></app-name-parent>
<p>----------------------------------</p>
<app-hero-parent></app-hero-parent>
<p>----------------------------------</p>
<vote-taker></vote-taker>
<p>----------------------------------</p> -->

<!-- <app-countdown-parent-lv>
    </app-countdown-parent-lv>
    <p>----------------------------------</p>
    <app-countdown-parent-vc></app-countdown-parent-vc> -->
<!-- <app-home>

    </app-home> -->
<!-- <h1>
    {{ title }}
</h1>
<br />

<br />
<app-component-overview-by-cli></app-component-overview-by-cli>
<app-component-by-manual></app-component-by-manual>
<app-parent></app-parent>
<app-child></app-child>
<p style="color: green;">I am green paragraph</p>
<p>I am green paragraph</p>

<app-emulated></app-emulated>
<app-none></app-none>
<app-native></app-native> -->
<!-- <app-hero-parent></app-hero-parent> -->
<!-- <app-hero-parent></app-hero-parent> -->