<!-- <ng-template appExampleZippyContent>
    It depends on what you do with it.
</ng-template> -->
<!-- <div>
    <add-banner [ads]="ads"></add-banner>
</div> -->
<!-- Template reference variable -->
<h1>My First Attribute Directive</h1>

<h2>Pick a highlight color</h2>
<div>
    <input type="radio" name="colors" (click)="color = 'lightgreen'" /> Green
    <input type="radio" name="colors" (click)="color = 'yellow'" /> Yellow
    <input type="radio" name="colors" (click)="color = 'cyan'" /> Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>
<p [appHighlight]="color" defaultColor="violet">
    Highlight me too!
</p>
<p>----------------------------------</p>

<p appHighlight>appHightlight Attribute Directive</p>
<input #phone placeholder="phone number" />

<!-- lots of other elements -->

<!-- phone refers to the input element; pass its `value` to an event handler -->
<button type="button" (click)="callPhone(phone.value)">Call</button>
<p>----------------------------------</p>
<input #ref1 type="text" [(ngModel)]="firstExample" />
<span *ngIf="true">Value: {{ ref1.value }}</span>
<p>----------------------------------</p>
<input *ngIf="true" #ref2 type="text" [(ngModel)]="secondExample" />
<span>Value: {{ ref2?.value }}</span>
<p>----------------------------------</p>
<!-- doesn't work -->

<input #ref3 type="text" [(ngModel)]="thirdExample" />
<span *ngIf="true">Value: {{ ref3?.value }}</span>
<p>----------------------------------</p>
<!--work because *ngIf directive make the span become parent element and input is child element, for ref3 variable couls ref from parent to child -->
<p>----------------------------------</p>
<!-- toggle the "special" class on/off with a property -->
<div [ngClass]="isSpecial ? 'special' : ''">This div is special</div>
<p>----------------------------------</p>
<div [ngClass]="currentClasses">
    This div is initially saveable, unchanged, and special.
</div>
<p>----------------------------------</p>
<div [ngStyle]="currentStyles">
    This div is initially italic, normal weight, and extra large (46px).
</div>
<p>----------------------------------</p>

<app-birthday-pipe-chaining></app-birthday-pipe-chaining>
<p>----------------------------------</p>

<app-birthday-formatting></app-birthday-formatting>
<p>----------------------------------</p>

<app-birthday></app-birthday>
<p>----------------------------------</p>
<app-sizer [(size)]="fontSizePx"></app-sizer>
<div [style.font-size.px]="fontSizePx">
    Resizable Text
</div>
<p>----------------------------------</p>

<h1 id="event binding">
    Event binding
</h1>
<div class="group">
    <h3>Target Event</h3>
    <button type="button" (click)="onSave($event)">Save</button>
    <button type="button" on-enter="onSave()">on-click Save</button>
    <h4>MyClick is an event on the Custom clickDirective</h4>
    <button type="button" (myClick)="clickMessage = $event" clickable>
    click with MyClick
  </button> {{ clickMessage }}
</div>
<div class="group">
    <h3>Target Event</h3>
    <button type="button" (click)="onClickMe($event)" class="btn btn-danger">
    Click Me Classname
  </button>
</div>
<div class="group">
    <h3>$event and event handling statements</h3>
    <h4>Result:{{ currentItem1.name }}</h4>

    <input [value]="currentItem1.name" (input)="currentItem1.name = getValue($event)" /> without NgModel
</div>
<p>----------------------------------</p>
<app-bootstrap></app-bootstrap>
<app-name-collision></app-name-collision>
<app-nav-bar></app-nav-bar>
<p>----------------------------------</p>

<h2>Interpolation: {{ titleInterpolation }}</h2>
<p>curent Customer: {{ currentCustomer }}</p>
<div><img alt=" item " src="{{ itemImageUrl }} " /></div>

<p>----------------------------------</p>
<app-zippy-multislot>
    <p question>
        Is content projection cool?
    </p>
    <p>Let' s learn about content projection!</p>
</app-zippy-multislot>
<p>
    ----------------------------------
</p>
<app-zippy-basic>
    <p>Is content projection cool?</p>
    <p>Is content projection cool 1?</p>
</app-zippy-basic>
<p>----------------------------------</p>
<app-input-output [item]="currentItem" (deleteRequest)="crossOffItem($event)"></app-input-output>
<p>----------------------------------</p>
<app-item-output-parent></app-item-output-parent>
<p>----------------------------------</p>

<app-item-detail [item]="currentItem"></app-item-detail>

<!-- <app-misson-control></app-misson-control> -->
<app-version-parent></app-version-parent>

<p>----------------------------------</p>
<app-name-parent></app-name-parent>
<p>----------------------------------</p>
<app-hero-parent></app-hero-parent>
<p>----------------------------------</p>
<vote-taker></vote-taker>
<p>----------------------------------</p>
-->

<!-- <app-countdown-parent-lv>
    </app-countdown-parent-lv>
    <p>----------------------------------</p>
    <app-countdown-parent-vc></app-countdown-parent-vc> -->
<!-- <app-home>

    </app-home> -->
<!-- <h1>
    {{ title }}
</h1>
<br />

<br />
<app-component-overview-by-cli></app-component-overview-by-cli>
<app-component-by-manual></app-component-by-manual>
<app-parent></app-parent>
<app-child></app-child>
<p style="color: green; ">I am green paragraph</p>
<p>I am green paragraph</p>

<app-emulated></app-emulated>
<app-none></app-none>
<app-native></app-native> -->
<!-- <app-hero-parent></app-hero-parent> -->
<!-- <app-hero-parent></app-hero-parent> -->